<table class="table table-bordered">
  <thead>
    <tr>
      <th>User name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Strength</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datas of data">
      <td>{{ datas.username }}</td>
      <td>{{ datas.email | emailMask }}</td>
      <td>{{ datas.password }}</td>
      <td [ngClass]="datas.strength ===  'strong' ? 'success' : 'danger'">
        {{ datas.strength }}
      </td>
    </tr>
  </tbody>
</table>

<div style="text-align:center">
  <span appChangeText>Welcome to {{ title }}.</span>
</div>
